In [1]:
from umbrella_portfolio_manager.umbrella_portfolio_manager.portfolio.portfolio import Portfolio

# Portfolio tester

In [2]:
portfolio = Portfolio(id = "01")

In [3]:
portfolio.add_stock_transactions(ticker='NVDA', date= "2022-01-01", quantity=1, transaction_price= 153.02, conversation_rate= 1.02, transaction_price_euro= 150.02, charge= 2.38)
portfolio.add_stock_transactions(ticker='AMZN', date= "2022-01-01", quantity=1, transaction_price= 173.02, conversation_rate= 1.02, transaction_price_euro= 169.63, charge= 2.38)

In [4]:
portfolio.stocks["NVDA"].update_dict_evolution_historic("2022-01-01","2023-12-01" , 3)

2022-01-03    300.795135
2022-01-04    292.496582
2022-01-05    275.659851
2022-01-06    281.391937
2022-01-07    272.094666
Name: Close, dtype: float64
2022-01-03    1.137346
2022-01-04    1.130224
2022-01-05    1.128363
2022-01-06    1.131350
2022-01-07    1.129688
Name: Close, dtype: float64
               Close_x   Close_y  result_Close_x_y  quantity
2022-01-03  300.795135  1.137346        264.471110         1
2022-01-04  292.496582  1.130224        258.795125         1
2022-01-05  275.659851  1.128363        244.300783         1
2022-01-06  281.391937  1.131350        248.722337         1
2022-01-07  272.094666  1.129688        240.858211         1

ValueError: Length mismatch: Expected axis has 4 elements, new values have 5 elements

In [ ]:
portfolio.stocks["NVDA"].dict_evolution["2022-01-01"]

,date,quantity,price,transaction_price_euro,conversation_rate
2022-01-01,2022-01-01,1,153.020000,150.020000,1.020000
2022-01-03,NaN,1,300.795135,264.471110,1.137346
2022-01-04,NaN,1,292.496552,258.795098,1.130224
2022-01-05,NaN,1,275.659821,244.300756,1.128363
2022-01-06,NaN,1,281.391907,248.722310,1.131350
...,...,...,...,...,...
2023-11-24,NaN,1,477.718018,438.019647,1.090631
2023-11-27,NaN,1,482.377594,440.912438,1.094044
2023-11-28,NaN,1,478.167938,436.347375,1.095842
2023-11-29,NaN,1,481.357666,437.361543,1.100594
2023-11-30,NaN,1,467.658905,426.163551,1.097370