In [1]:
from umbrella_portfolio_manager.umbrella_portfolio_manager.portfolio.portfolio import Portfolio

# Portfolio tester

In [2]:
portfolio = Portfolio(id = "01")

In [3]:
portfolio.add_stock_transactions(ticker='NVDA', date= "2022-01-01", quantity=1, transaction_price= 153.02, conversation_rate= 1.02, transaction_price_euro= 150.02, charge= 2.38)
portfolio.add_stock_transactions(ticker='AMZN', date= "2022-01-01", quantity=1, transaction_price= 173.02, conversation_rate= 1.02, transaction_price_euro= 169.63, charge= 2.38)

In [4]:
portfolio.stocks["NVDA"].update_dict_evolution_historic("2022-01-01","2023-12-01" , 3)

                 price
2022-01-03  300.795135
2022-01-04  292.496552
2022-01-05  275.659821
2022-01-06  281.391876
2022-01-07  272.094666
Index(['price', 'conversion_rate'], dtype='object')

In [8]:
portfolio.stocks["NVDA"].dict_evolution["2022-01-01"]

,quantity,price,transaction_price_euro,conversation_rate,conversion_rate
2022-01-01,1,153.020000,150.020000,1.02,NaN
2022-01-03,1,300.795135,264.471110,NaN,1.137346
2022-01-04,1,292.496552,258.795098,NaN,1.130224
2022-01-05,1,275.659821,244.300756,NaN,1.128363
2022-01-06,1,281.391876,248.722283,NaN,1.131350
...,...,...,...,...,...
2023-11-24,1,477.718018,438.019647,NaN,1.090631
2023-11-27,1,482.377594,440.912438,NaN,1.094044
2023-11-28,1,478.167938,436.347375,NaN,1.095842
2023-11-29,1,481.357666,437.361543,NaN,1.100594
2023-11-30,1,467.658905,426.163551,NaN,1.097370

In [6]:
portfolio.portfolio_transactions

,ticker,transactions_date,quantity,transaction_price,conversation_rate,transaction_price_euro,charge
0,NVDA,2022-01-01,1,153.02,1.02,150.02,2.38
0,AMZN,2022-01-01,1,173.02,1.02,169.63,2.38

In [7]:
portfolio.update_all_history()

KeyError: 'transaction_date'