In [2]:
from portfolio.portfolio import Portfolio

ModuleNotFoundError: No module named 'umbrella_portfolio_manager.umbrella_portfolio_manager'; 'umbrella_portfolio_manager' is not a package

# Portfolio tester

In [2]:
portfolio = Portfolio(id = "01")

In [3]:
portfolio.add_stock_transactions(ticker='NVDA', date= "2022-01-01", quantity=1, transaction_price= 153.02, conversation_rate= 1.02, transaction_price_euro= 150.02, charge= 2.38)
portfolio.add_stock_transactions(ticker='AMZN', date= "2023-01-01", quantity=1, transaction_price= 173.02, conversation_rate= 1.02, transaction_price_euro= 169.63, charge= 2.38)

In [4]:
portfolio.portfolio_transactions

,ticker,transactions_date,quantity,transaction_price,conversation_rate,transaction_price_euro,charge
0,NVDA,2022-01-01,1,153.02,1.02,150.02,2.38
0,AMZN,2023-01-01,1,173.02,1.02,169.63,2.38

In [5]:
portfolio.update_all_history() # add add_transaction inside that function

['2022-01-01' '2023-01-01']
0 ticker                          NVDA
transactions_date         2022-01-01
quantity                           1
transaction_price             153.02
conversation_rate               1.02
transaction_price_euro        150.02
charge                          2.38
Name: 0, dtype: object
0 ticker                          AMZN
transactions_date         2023-01-01
quantity                           1
transaction_price             173.02
conversation_rate               1.02
transaction_price_euro        169.63
charge                          2.38
Name: 0, dtype: object

In [6]:
portfolio.stocks['AMZN'].dict_evolution['2023-01-01']

            quantity       price  transaction_price_euro  conversion_rate
2023-01-01         1  173.020000              169.630000         1.020000
2023-01-03         1   85.820000               80.373006         1.067771
2023-01-04         1   85.139999               80.725488         1.054685
2023-01-05         1   83.120003               78.368038         1.060637
2023-01-06         1   86.080002               81.807851         1.052222
...              ...         ...                     ...              ...
2023-12-22         1  153.419998              139.394335         1.100619
2023-12-26         1  153.410004              139.207307         1.102026
2023-12-27         1  153.339996              138.857039         1.104301
2023-12-28         1  153.380005              138.072677         1.110864
2023-12-29         1  151.940002              137.276268         1.106819

[251 rows x 4 columns]