In [5]:
from portfolio.portfolio import Portfolio

# Portfolio tester

In [6]:
portfolio = Portfolio(id = "01")

In [7]:
portfolio.portfolio

{}

In [8]:
portfolio.add_holder(holder_id="001")
portfolio.update_holders_transactions(holder_id="001", date="01/01/2023", amount="1500")

In [9]:
portfolio.holders["001"].holding_history

         date amount
0  01/01/2023   1500

In [10]:
portfolio.add_stock_transactions(ticker='NVDA', date= "01/01/2023", quantity=-1, transaction_price= 153.02, conversation_rate= 1.02, transaction_price_euro= 150.02, charge= 2.38)
portfolio.add_stock_transactions(ticker='AMZN', date= "01/01/2023", quantity=5, transaction_price= 173.02, conversation_rate= 1.02, transaction_price_euro= 169.63, charge= 2.38)

In [11]:
portfolio.stock_transactions.head()

,ticker,transactions_date,quantity,transaction_price,conversation_rate,transaction_price_euro,charge
0,NVDA,01/01/2023,-1,153.02,1.02,150.02,2.38
0,AMZN,01/01/2023,5,173.02,1.02,169.63,2.38